<div class="modal fade" id="MdlComentarios" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content" style="border-radius: 6px;">
            <div class="modal-header">
                <h4 class="modal-title"><span id="nombreEstudiante_nomenclatura">Comentarios de la clase</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-remove (alias) fa-2x"></i></button>
            </div>
            <div class="modal-body">
                <div class="pleaseWaitDiv" style="display: none;">
                    <div>
                        <span tkey="MENU_PORFAVORESPERE"></span><div></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>