<div style="margin-top: .75rem;position: relative;padding-right: .5rem;background-color: #fff;border: .0625rem solid #dadce0;-moz-border-radius: .5rem;border-radius: .5rem;overflow: hidden;align-items: center;display: -webkit-box;display: -moz-box;display: -webkit-flex;display: -ms-flexbox;display: flex;flex-direction: row;">
    <div style="box-flex: 1;flex-grow: 1;overflow: hidden;">
        <a target="_blank" aria-label="Archivo adjunto: PowerPoint: Escenarios de Sincronizacion API.pptx" jsaction="LWntbc" href="https://drive.google.com/a/academicanet.com/file/d/0By9MvEU_CNksTXhIOHd6QnpHb1U/view?usp=drive_web&amp;authuser=0" title="Escenarios de Sincronizacion API.pptx" data-focus-id="hSRGPd-https://drive.google.com/a/academicanet.com/file/d/0By9MvEU_CNksTXhIOHd6QnpHb1U/view?usp=drive_web&amp;authuser=0" style="box-flex: 1;flex-grow: 1;overflow: hidden;text-decoration: none;outline: none;align-items: center;display: -webkit-box;display: -moz-box;display: -webkit-flex;display: -ms-flexbox;display: flex;flex-direction: row;">
    <div style="">
        <div style="margin-right: 1rem;height: 4.375rem;overflow: hidden;width: 6.5625rem;flex-shrink: 0;position: relative;align-items: center;display: -webkit-box;display: -moz-box;display: -webkit-flex;display: -ms-flexbox;display: flex;justify-content: center;"><img jsname="q4uQmd" jsaction="error:dyBsCf" src="https://lh3.googleusercontent.com/7E5OBqcoHwbvMi4rozSId_sxxv0F-VSb1Oha3zfO39Z_8gSi_ekb-dof6FjmmPQJ6TKe2g=w105-h70-c" aria-hidden="true" data-mime-type="application/vnd.openxmlformats-officedocument.presentationml.presentation" style="max-height: 100%;max-width: 100%;border: none;">
        <div  style="left: 0;position: absolute;top: 0;">
        <svg height="70px" width="105px" y="0px" x="0px" viewBox="0 0 105 70" enable-background="new 0 0 105 70"><g opacity=".5">
        <path d="m104.98 54.297c-0.017 0-0.017-54.297-0.017-54.297h-104.96v70h89.441s16.139-15.703 15.539-15.703z" fill="#E5E5E5"></path></g>
        <polygon points="89.042 54.018 89.042 70 105 54.018" fill="#ff7537"></polygon>
        <g opacity=".702">
        <polygon points="73.084 70 89.042 70 89.042 54.018" fill="#bbb"></polygon></g></svg>
            </div>
            </div>
    </div>
    <div style="overflow: hidden;">
    <div style="text-overflow: ellipsis;overflow: hidden;white-space: nowrap;letter-spacing: .00625em;font-family: 'Google Sans',Roboto,Arial,sans-serif;font-size: 1rem;font-weight: 500;line-height: 1.5rem;color: #3c4043;">Escenarios de Sincronizacion API.pptx</div>
        <div style="display: -webkit-box;display: -moz-box;display: -webkit-flex;display: -ms-flexbox;display: flex;letter-spacing: .01428571em;font-family: Roboto,Arial,sans-serif;font-size: .875rem;font-weight: 400;line-height: 1.25rem;color: #5f6368;">
        <div  style="margin-right: .25rem;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;display: block;">PowerPoint</div>
        </div>
        </div>
        </a>
    </div>
    <div style="flex-shrink: 0;padding-left: 1rem;align-items: center;display: -webkit-box;display: -moz-box;display: -webkit-flex;display: -ms-flexbox;display: flex;flex-direction: row;">
    <div role="button"   tabindex="0" data-focus-id="Rsbfue-rs9KXc-https://drive.google.com/a/academicanet.com/file/d/0By9MvEU_CNksTXhIOHd6QnpHb1U/view?usp=drive_web&amp;authuser=0" style="margin-right: 1rem;color: #5f6368;fill: #5f6368;-moz-user-select: none;-moz-transition: background .3s;transition: background .3s;border: 0;-moz-border-radius: 50%;border-radius: 50%;cursor: pointer;display: inline-block;flex-shrink: 0;height: 48px;outline: none;overflow: hidden;position: relative;text-align: center;width: 48px;z-index: 0;">
        <div style="background-image: radial-gradient(circle farthest-side,rgba(95,99,104,0.161),rgba(95,99,104,0.161) 80%,rgba(95,99,104,0) 100%);filter: grayscale(0);-moz-transform: translate(-50%,-50%) scale(0);transform: translate(-50%,-50%) scale(0);transition: opacity .2s ease,visibility 0s ease .2s,transform 0s ease .2s;transition: opacity .2s ease,visibility 0s ease .2s,-webkit-transform 0s ease .2s;background-size: cover;left: 0;opacity: 0;pointer-events: none;position: absolute;top: 0;visibility: hidden;">

        </div>
    <span  style="align-items: center;display: -webkit-box;display: -moz-box;display: -webkit-flex;display: -ms-flexbox;display: flex;height: 100%;justify-content: center;position: relative;width: 100%;"><span class="GmuOkf" style="display: -webkit-box;display: -moz-box;display: -webkit-flex;display: -ms-flexbox;display: flex;position: relative;color: #5f6368;fill: #5f6368;cursor: pointer;text-align: center;"><i class="fa fa-times fa-2x"></i></span></span></div></div></div>